.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @font-face {
   font-family: "sunday";
   font-style: normal;
   font-weight: 400;
   src: url("./fonts/sunday.woff2") format("woff2");
   font-display: swap;
 }
  
  html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    min-height: 100%;
    font-family: "sunday";
    font-size: 20px;
    line-height: 42px;
    font-weight: 400;
    color: #0B101B;
    background-color: #ffff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
  button,
  a{
   cursor: pointer;
   text-decoration: none;
   color: black;
  }
  p,
  h2,
  h3{
    margin: 0;
  }
  li{
    list-style: none;
    margin-right: 10px;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .header{
    padding: 10px 5% 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
  }
  .header__ul{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    float: left;
    width: 100%;
  }
  .header__li{
    margin-right: 8%;
  }
  .header__a:hover{
    color: rgb(245, 150, 7);
  }
  .regulations__h2{
    margin-bottom: 30px;
  }
  .regulations__p{
    margin-bottom: 50px;
  }
  .header__a--active{
    color: rgb(245, 150, 7);
  }
  .header__li--active{
    border: 2px solid rgb(245, 150, 7);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  .main__section{
    background-color: rgb(245, 150, 7);
    padding: 0;
  }
  .main__section-svg{
    fill: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
  }
  .main__section-h2{
    color: #ffff;
    font-size: 20px;
  }
  .main__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10% 0;
  }
  .main__section-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  .section-minu{
    padding: 150px 5% 50px;
    text-align: center;
  }
  .section-minu__h2{
    color: rgb(245, 150, 7);
    font-size: 100px;
    margin-bottom: 200px;
  }
  .section-minu__img{
    border: 10px solid rgb(245, 150, 7);
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .section-minu__ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .section-minu__button{
  padding: 10px 20px 10px;
  width: 300px;
  background-color: rgb(245, 150, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin-top: 20px;
}
.section-minu__button:hover{
  background-color: #f87a05;
  color: #fff;
  
}
.section-minu__li{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-minu__div-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main{
  margin-top: 150px;
}
.footer__li:nth-child(2){
  color: #fff;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgb(245, 150, 7);
  border-radius: 20px;
  margin-top: 20px;
}
.footer__li:nth-child(2):hover{
  background-color: #f87a05;
}
.footer__li:nth-child(3){
  color: #fff;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgb(245, 150, 7);
  border-radius: 20px;
  margin-top: 20px;
}
.footer__li:nth-child(3):hover{
  background-color: #f87a05;
}
.footer__li:nth-child(4){
  color: #fff;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgb(245, 150, 7);
  border-radius: 20px;
  margin-top: 20px;
}
.footer__li:nth-child(4):hover{
  background-color: #f87a05;
}
.footer__li:nth-child(1){
  color: #fff;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgb(245, 150, 7);
  border-radius: 20px;
  margin-top: 20px;
}
.footer__li:nth-child(1):hover{
  background-color: #f87a05;
}
.footer__adress{
  color: #fff;
}
.footer__a:hover{
  background-color: #f87a05;
}
.footer__a{
  color: #fff;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgb(245, 150, 7);
  border-radius: 20px;
}
.footer__a-tel{
  color: #fff;
}
.footer{
  border-top: 10px solid rgb(245, 150, 7);
  padding: 50px 5% 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}